.f-left {float: left;}
.f-right {float: right;}

.main-container {
  .center();
  max-width: 1260px;
  padding: 0 15px;
}

.hidden {display: none;}

.align-center {text-align: center;}
.align-left {text-align: left;}
.align-right {text-align: right;}