.form {
	display: block;	
	width: 100%;
	padding: 10px;
	text-transform: uppercase;
	margin: 10px 0;
	text-align: center;

	&.white_form {		
		background: #fff;
		color: #000;

		.add_btn {
			background: #000;
			color: #fff;

			&:after {border-bottom-color: #000;}

			&:before {border-top-color: #000;}  
		}
	}

	&.black_form {		
		background: #000;
		color: #fff;

		.add_btn {
			background: #fff;
			color: #000;

			&:after {border-bottom-color: #fff;}

			&:before {border-top-color: #fff;}  
		}
	}

	.dashed {padding: 25px 19px 30px 19px;}

	.form-title {padding-bottom: 12px;}

	input[type="text"],
	textarea[name="comment"],

	.jq-selectbox {
		width: 100%;
		height: 40px;
		line-height: 38px;
		border: 1px solid #b2b2b2;
		outline: 0;
		.placeholder(inherit);
		text-align: center;
		font-size: 11px;
		text-transform: uppercase;
		margin: 5px 0;
		letter-spacing: 0.7px;
		padding: 11px 5px;	
		background: transparent;
	}

	.jq-selectbox {
		padding:0 5px;

		.jq-selectbox__dropdown {
			line-height: 20px;
			text-align: center;
			width: 100%;
			color: #000;
			background: #fff;

			ul {
				padding: 0;

				li {
					.transition(0.3s all aese);
					padding: 5px 0;

					&:hover {background: #C6C6C6}
				}
			}
		}

		.jq-selectbox__trigger {
			position: absolute;
			right: 30px;
			top: 0;

			.jq-selectbox__trigger-arrow {
				.square(12px;);		

				&:before {
					content: "\e910";
					font-family: 'icomoon';
					font-size: 12px;
					color: inherit;
					position: absolute;
				}
			}
		}		
	}

	textarea[name="comment"] {
		height: 119px;
		line-height: inherit;
		resize:none;		
	}	

	.error {
		border-color: #cc535a!important;
		.placeholder(#cc535a)!important; 
	}

	@media(max-width:992px){
		width: 300px;
		.center();
	}

	@media(max-width:480px){
		width: 270px;
		.center();

		.dashed {padding: 25px 15px 30px 15px;}
	}
}