.black_review,
.white_review {	
	width: 100%;
	background: #000;
	color: #fff;
	padding: 39px 40px 49px 44px;
	margin: 10px 0;

	.review {
		.square(100%);
		padding: 11px 17px 11px 19px;
		border: 1px dashed #4d4d4d;
		font-size: 13px;
		font-family: 'OpenSans';
		font-style: italic;
		line-height: 22px;

		p {margin: 0 0 8px 0;}

		.date,
		.name {
			display: block;
			text-align: right;
			font-family: 'OpenSans';
			font-weight: 400;
			font-size: 11px;
			text-transform: uppercase;
			color: @grayLighten;
			line-height: 20px;
			letter-spacing: 0.7px;
		}
	}

	@media(max-width:992px){
		width: 383px;
		.center();
	}
	@media(max-width:415px){
		width: 280px;
		.center();
	}
}

.black_review{
	background: #000;
	color: #fff;
}

.white_review{
	background: #fff;
	color: #000;
}