.menu-title {
	margin: 0;	
	font-family: @fontBold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.9px;
}

.main-title {
	margin: 0;
	font-size: 36px;
	font-family: 'PlayfairDisplay-Italic';
	font-weight: 400;
}

.sub-title {
	margin: 0;
	font-size: 28px;
	font-family: 'PlayfairDisplay-Italic';
	font-weight: 400;
}

.small-title {
	margin: 0;
	font-size: 20px;
	font-family: 'PlayfairDisplay-Italic';
	font-weight: 400;
}

.form-title {
	margin: 0;
	font-family: @fontBold;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 2.8px;
	
}